body{
  height: 100%;

  
}
.addExpensecontainer{
  
  background-color: blue;
  margin :auto;
  width:60%;
  color: rgb(79, 37, 90);
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  display :block;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  
}
.addExpenseSubContainer{
  margin: auto;
}
.submitbtn{
  background-color: rgb(171, 17, 202);

  width: 100%;
  margin-top :10px;
line-height: 25px;
box-shadow: 0px 0px 10px rgba(41, 192, 61, 0.5);
border-radius: 10px;
color:white;
font-size: 1.5rem;
padding :10px
}
input {
  font-size:1.5rem;
  border-radius: 3px;
  line-height: 30px;
  height:40px;
  width:100%;

}
label{
  font-size:1.5rem;
  line-height: 2rem;
}
.bg-colors{
  background-color: rgb(171, 17, 202);
  
}
.fullwidth{
  width :100% !important;
}
.itemAdded{
  display:flex;
  justify-content: center;
  margin :auto;
  color: rgb(171, 17, 202);
  box-shadow: 0px 0px 10px rgba(26, 29, 26, 0.5);
  width:60%;
  margin-top :20px;
  border-radius: 5px;

}